/*==GENERIC RULE==*/
html{
    font-family: sans-serif;
}

:root{
    --color_gray_bg: rgb(31, 31, 31);
    --color_blue:rgb(0, 97, 200);
    --color_red_btn:rgb(205, 61, 15);
    --color_blue_btn:rgb(45, 100, 230);
    --color_grey_btn:rgb(54, 54, 54);
    --color_greylight_bg:rgb(190, 188, 187);
    --color_greylight_btn:rgb(217, 218, 220);
    --color_white_btn:rgb(245, 245, 245);
    --color_blue_bg:rgb(22, 28, 59);
}

.ms_btn_red{
    background-color: var(--color_red_btn);
}

.ms_btn_blue{
    background-color: var(--color_blue_btn);
}

.ms_btn_grey{
    background-color: var(--color_grey_btn);
}

.ms_btn_greylight{
    background-color: var(--color_greylight_btn);
}

.ms_btn_white{
    background-color: var(--color_white_btn);
}


/*==HEADER==*/
.img_size{
    width: 100px;
}

.ms_hero_img{
    padding-top: 200px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

#hero{
    margin-top: 110px;
}

.ms_border_img{
    outline: solid 2px var(--color_blue);
    outline-offset: 3px;
}

.ms_banner_img{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

#new{
    background-color: var(--color_grey_bg);
}

#banner-2{
    background-color: var(--color_greylight_bg);
}

#banner-3{
    background-color: var(--color_blue_bg);
}

footer{
    background-color: var(--color_blue);
}

.img_size_footer{
    width: 20px;
}

.img_size_footer_bottom{
    width: 50px;
}

footer div ul li a{
    text-decoration: none;
    color: white;
}